<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/www/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- 3 coloane, company, get help, online shop, follow us -->
                <div class="footer-col">
                    <h4>
                    company
                    </h4>
                    <ul>
                        <!-- itemele continute de company -->
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">website GIT</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>
                    get help
                    </h4>
                    <ul>
                        <!-- itemele continute de gethelp-->
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>
                    online shop
                    </h4>
                    <ul>
                        <!-- itemele continute de online shop -->
                        <li><a href="#">merch</a></li>
                        <li><a href="#">merch</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>
                    follow us
                    </h4>
                    <!-- itemele continute de follow us -->
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>