<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/application/views/styles/lesson.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0d9365b070.js"
      crossorigin="anonymous"
    ></script>
    <title>Lessons</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-item nav-brand">
        <a class="nav-logo" href="">
          <i class="fa fa-solid fa-keyboard"></i>
          <p>Lorem<b>Ipsumdolor</b></p>
        </a>
      </div>
      <div class="nav-item"><a href="">Home</a></div>
      <div class="nav-item current"><a href="">Learn</a></div>
      <div class="nav-item"><a href="">About</a></div>
      <div class="nav-item"><a href="">Account</a></div>
      <div class="nav-item">
          <a href="">
              <img class="profile" src="/application/views/images/profile_sample.jpg" alt="profile_pic">
          </a>
      </div>
      <div class="menu-btn">
        <span class="burger"></span>
      </div>
    </nav>
  </body>
</html>
