@import "assets.css";
@import "navbar.css";
@import "footer.css";

*{

    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
body
{
    width: 100%;
    background: var(--dark-primary);
    display: flex;
    flex-direction: column;
}
.section
{
    border: 1px solid var(--dark-secondary);
    width: 100%;
    min-height: 100vh;
}
.container
{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section
{
    float: left;
    width: 55%;
}
.image-section
{
    border: 1px solid var(--dark-secondary);
    float: right;
    width: 40%;
}
.image-section img
{
    width: 100%;
    height: auto;
}
.content-section .title
{
    text-transform: uppercase;
    font-size: 28px;
    color: white;
}
.content-section .content h3
{
    margin-top: 20px;
    color: var(--dark-secondary);
    font-size: 21px;
}
.content-section .content p
{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4);
}

.content-section .content p1
{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    color: var(--dark-secondary);
}

.content-section .content p2
{
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}
.content-section .content .button a
{
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    padding: 12px 40px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button
{
    margin-top: 30px;
}

.content-section .content .button:hover a
{
    border: solid var(--dark-secondary);
    background-color: var(--dark-primary);
    color: var(--dark-secondary);
}
.content-section .social
{
    margin: 40px 35px;
}
.content-section .social i
{
    color: var(--dark-secondary);
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover
{
    color: white;
}
@media screen and (max-width: 768px)
{
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;

    }
    .image-section{
        float: right;
        width: 100%;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}