@import "assets.css";
@import "navbar.css";
@import "footer.css";

body 
{
  text-decoration: none;
  color: white;
  background: var(--dark-primary);
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

a 
{
  text-decoration: none;
  color: var(--dark-primary);
  cursor: pointer;
}

.hero 
{
  background: url('/www/images/background.jpg') top/cover;
  padding: 11.5rem;
  border: 1px solid var(--dark-secondary);
  -webkit-mask:
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at top   ,white 79.5%,transparent 80%) top left,
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at bottom,transparent 79.5%,white 80%) top center,
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at top   ,white 79.5%,transparent 80%) top right;
mask:
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at top   ,white 79.5%,transparent 80%) top left,
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at bottom,transparent 79.5%,white 80%) top center,
  radial-gradient(var(--r1,160%) var(--r2,68.15%) at top   ,white 79.5%,transparent 80%) top right;
-webkit-mask-size:33.4% 140%; 
-webkit-mask-repeat:no-repeat;
mask-size:33.4% 140%;
mask-repeat:no-repeat;
  text-align: center;
  /*margin-top: 9em;*/
}
.hero-text 
{
margin-top: -10rem;

}
.hero .title 
{
  text-shadow: 0 0 8px black;
  padding-top: 0rem;
  margin-top: -5rem;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: -0.5em;
}

.hero .title span
{
  text-shadow: 0 0 13px black;
  color: var(--dark-secondary);
}

.hero .description
{
  text-shadow: 0 0 20px black;
  color: white;
  text-align: center;
  font-size: 2em;
}
.hero .description p
{
  color: white;
}
.hero .description p2
{
  padding: 0.16em;
  text-shadow: 0 0 4px black;
  color: var(--dark-secondary);
  font-weight: bold;
}
.hero .description p2:hover
{
  border-radius: 1em;
  text-shadow: none;
  background-color: var(--dark-secondary);
  color: var(--dark-primary);
}

.hero .container
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.hero .container .primary-cta 
{
  background-color: var(--dark-secondary);
  border: 2px solid var(--dark-primary);
  font-weight: bold;
  font-size: 1.75em;
  padding: 0.35em 1.30em;
  margin: 0.5em;
}

.hero .container .primary-cta:hover 
{
  border: 2px solid var(--dark-secondary);
  background: var(--dark-primary);
}

.hero .container .primary-cta:hover a 
{
  color: var(--dark-secondary);
}

.hero .container .secondary-cta 
{
  background-color: var(--dark-secondary);
  border: 2px solid var(--dark-primary);
  font-weight: bold;
  font-size: 1.75em;
  padding: 0.35em 1.30em;
  margin: 0.5em;
}

.hero .container .secondary-cta:hover 
{
  border: 2px solid var(--dark-secondary);
  background: var(--dark-primary);
}

.hero .container .secondary-cta:hover a 
{
  color: var(--dark-secondary);
}

.bottompage 
{
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 2em;
  margin: 0;
}

.bottompage img 
{
  width: 30px;
}

.bottompage .leftcorner 
{
  margin-top: 16px;
  padding-left: 5em;
}

.bottompage .leftcorner .facebook-cta 
{
  padding-right: 0.65em;
}

.bottompage .leftcorner .linkedin-cta 
{
  padding-left: 0.65em;
}

.bottompage .rigthcorner 
{
  padding-right: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.bottompage .rigthcorner img 
{
  padding-left: -1em;
  padding-right: 1em;
}
/*# sourceMappingURL=homapagemain.css.map */