@import "index.css";
@import "navbar.css";

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--dark-primary) 20%, #46466e);
  /* text-align: center; */
}   
button {
  cursor: pointer;
}
#page {
  /* position: relative; */
}
#current {
  display: flex;
  justify-content: end;
  align-items: center;
}
#lesson {
  text-align: start;
  margin-right: auto;
}
#chapter {
  text-align: end;
}
.current-status {
  margin: 2rem 8rem;
}
#current-lesson,
#current-chapter {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  opacity: 45%;
}
#lesson-name,
#chapter-name {
  font-size: 2.3vw;
  font-weight: 500;
}
#lesson-name {
  color: white;
}
#chapter-name {
  color: var(--dark-secondary);
}
#main-pane {
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem 0 10rem;
  align-items: center;
  /* width: 20rem; */
  /* height: 60vh; */
  margin: 0;
}
#learn {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: scroll;
  margin-left: 5rem;
}
#learn > p {
  display: inline-block;
  margin: 0;
}
#bottom-div {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.next {
  margin: 0 8rem;
  box-shadow: inset 0 0 0 0 #d35f5f;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  width: 15rem;
  background-color: var(--dark-success);
  padding: 2rem 0rem;
  border-radius: 20px;
  border: none;
  /* -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s; */
}
.next:hover,
.next:focus {
  /* box-shadow: inset 0 0 0 0 #d80286; */
  transform: scale(1.1);
}
.next > i {
  margin-left: 0.4rem;
}
.next > p {
  margin: 0;
  display: inline-block;
}

#lessons-bar {
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#lessons-bar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bubble {
  background-color: var(--dark-secondary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}
.bubble:hover,
.bubble:focus {
  transform: scale(1.3);
  /* animation: new_scale  */
}
.bubble:hover > .preview {
  display: block;
  transform: scale(0.7);
}
.curr-lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
.curr-lesson > div:not(.bar) {
  position: absolute;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
}
.prev-lesson {
  background-color: var(--dark-success);
}
.next-lesson {
  background-color: rgb(161, 161, 161);
}
.bar {
  height: 4vh;
  width: 0.5rem;
}
.prev-lesson + .bar {
  background-color: var(--dark-success);
}
.next-lesson + .bar,
.curr-lesson + .bar {
  background-color: rgb(161, 161, 161);
}
.preview {
  display: none;
	position: absolute;
  left: 1.5rem;
	width: 5rem;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1rem;
	border-radius: 1rem;
}

.preview::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	/* left: 1.5em;  */
  top: 1.6rem;
  left: -1rem;
	border: .75rem solid transparent;
	border-top: none;
  transform: rotate(270deg);
	border-bottom-color: #fff;
}


@media (min-width: 320px) and (max-width: 480px){
    #lessons-bar {
        margin-right: auto;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
        right:5%;
        width:100%;
        top:100px;
      }
    .bar {
        width: 6%;
        height: 0.5rem;
    }
    #lesson {
        position:absolute;
        right:70%;
        top:50px;
    }
    #chapter{
        position:absolute;
        top:50px;
        right:-15%;
    }
    .bubble {
        background-color: var(--dark-secondary);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
    }
    .curr-lesson {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
    }
    .curr-lesson > div:not(.bar) {
        position: absolute;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background-color: white;
    }
    .prev-lesson {
        background-color: var(--dark-success);
    }
    .next-lesson {
        background-color: rgb(161, 161, 161);
    }
    .next {
        margin: 0 8rem;
        box-shadow: inset 0 0 0 0 #d35f5f;
        transition: all 0.2s ease-in-out;
        font-size: 1rem;
        font-weight: 500;
        color: white;
        width: 40%;
        top:640px;
        position:absolute;
        background-color: var(--dark-success);
        padding: 2rem 0rem;
        border-radius: 20px;
        border: none;
        height:10px;
    }
    #learn {
        margin:auto;
        position:absolute;
        top:290px;
        right:5%;
        width:90%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    #lessons-bar {
        margin-right: auto;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
        right:0%;
        width:100%;
        top:100px;
      }
    .bar {
        width: 8%;
        height: 0.5rem;
    }
    #lesson {
        position:absolute;
        right:70%;
        top:50px;
    }
    #chapter{
        position:absolute;
        top:50px;
        right:-15%;
    }
    .bubble {
        background-color: var(--dark-secondary);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
        transform: scale(1.1);
    }
    .curr-lesson {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.75rem;
        height: 2.75rem;
    }
    .curr-lesson > div:not(.bar) {
        position: absolute;
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
        background-color: white;
    }
    .prev-lesson {
        background-color: var(--dark-success);
    }
    .next-lesson {
        background-color: rgb(161, 161, 161);
    }
    .next {
        margin: 0 8rem;
        box-shadow: inset 0 0 0 0 #d35f5f;
        transition: all 0.2s ease-in-out;
        font-size: 1.25rem;
        font-weight: 500;
        color: white;
        width: 30%;
        top:640px;
        position:absolute;
        background-color: var(--dark-success);
        padding: 2rem 1rem;
        border-radius: 20px;
        border: none;
        height:10px;
    }
    #learn {
        margin:auto;
        position:absolute;
        top:290px;
        right:5%;
        width:90%;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px){
    #lessons-bar {
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; 
        right:47%;
        width:100%;
    }
    #learn {
        margin:auto;
        position:absolute;
        top:290px;
        right:5%;
        width:67%;
    }
    .next {
        margin: 0 8rem;
        box-shadow: inset 0 0 0 0 #d35f5f;
        transition: all 0.2s ease-in-out;
        font-size: 1.5rem;
        font-weight: 500;
        color: white;
        width: 15rem;
        background-color: var(--dark-success);
        padding: 1rem 1rem;
        border-radius: 20px;
        border: none;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    #lessons-bar {
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
      }
}

@media (min-width: 1201px){
    #lessons-bar {
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
      }
}
