@import "index.css";

body {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(var(--dark-primary) 20%, #46466e); */
  background: var(--dark-primary);
  text-align: center;
}

#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-frame {
  position: relative;
  background: #ffffff;
  width: 30rem;
  height: 75vh;
  /* display: block; */
  /* text-align: center; */
  margin-top: 1rem;
  border-radius: 15px;
  /* border: 5px solid var(--dark-success);  */
  box-shadow: 5px 5px var(--dark-secondary);
}
.title {
  color: var(--dark-secondary);
  font-weight: 900;
  font-size: 2rem;
  text-align: start;
  padding-left: 5rem;
  margin-top: 7vh;
}
.component {
  /* margin: 3rem 0; */
}
.credentials {
  border: none;
  margin: 0.5rem;
  width: 17.5rem;
  padding: 0.5rem;
  border-bottom: 1.5px solid rgb(116, 116, 116);
  /* border-radius: 4px; */
}
.credentials:focus{
  background-color:rgb(255, 243, 226);
}

.other-logins,
.main-login {
  width: 21rem;
  display: inline-block;
  /* border: 2px solid black; */
}

.g_id_signin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.btn {
  margin: 2vh 1rem 1vh 0;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  padding: 1rem 1rem;
  border: 1px solid grey;
  padding: 0rem 4rem;
  width: 100%;
  cursor: pointer;
  border: 2px solid black;

}

button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
}
.login-btn {
  box-shadow: inset 0 0 0 0 #d35f5f;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  width: 45%;
  background-color: var(--dark-success);
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: none;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}
.button_slide:not(.login-btn) {
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.login-google {
  box-shadow: inset 0 0 0 0 #19d400;
}
.login-microsoft {
  box-shadow: inset 0 0 0 0 #009dff;
}
.login-facebook {
  box-shadow: inset 0 0 0 0 #d80286;
}

.login-btn:hover,
.login-btn:focus {
  box-shadow: inset 400px 0 0 0 #d35f5f;
}
.login-google:hover,
.login-google:focus {
  box-shadow: inset 400px 0 0 0 #d35f5f;
}
.login-microsoft:hover,
.login-microsoft:focus {
  box-shadow: inset 400px 0 0 0 black;
  color: white;
}
.login-facebook:hover,
.login-facebook:focus {
  box-shadow: inset 400px 0 0 0 #4267b2;
  color: white;
}

.bar {
  height: 5vh;;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem;  */
}
.bar > p {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--dark-primary);
}
hr {
  border: none;
  border-top: 1px solid rgb(146, 146, 146);
  width: 30%;
  /* margin: 1rem 3rem; */
}
.signup {
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  font-size: .75rem;
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark-secondary);
}

@media only screen and (max-height:800px) {
  #login-frame {
    /* height: 37.5rem; */
    height: 77.5vh;
  }
  .btn:not(.login-btn) {
    margin: 1vh 1rem 1vh 0;
    width: 80%;
    padding: 0rem 0;
  }
  .icon {
    width: 1rem;
    height: 1rem;
    padding-right: .5rem;
  }
  .btn > div > p {
    font-size: .8rem !important;
  }
  
}
